{%- macro field_properties(name="", type="") %}
sp.FieldProperties(
    ## Required
    name="{{ name }}",
    type="{{ type }}",
    ## Optional
    # title="",
    # format="",
    # description="",
    # example="",
    # categories=[],
    # categories_ordered=False,
    # constraints=sp.ConstraintsProperties(
    #     ## Optional
    #     required=False,
    #     unique=False,
    #     pattern="",
    #     enum=[],
    #     min_length=0,
    #     max_length=100,
    #     minimum="",
    #     maximum="",
    #     exclusive_minimum="",
    #     exclusive_maximum="",
    #     json_schema={"": ""},
    # ),
),
{%- endmacro -%}
