{% from "macros.jinja2" import required, optional, optional_list, required_list -%}
import seedcase_sprout as sp

package_properties = sp.PackageProperties.from_default(
    ## Required:
    {{ required("name", properties.name) }}
    {{ required("title", properties.title) }}
    {{ required("description", properties.description) }}
    {% call(license) required_list('licenses', properties.licenses) %}
        sp.LicenseProperties(
            ## Required:
            {{ required("name", license.name) }}
            ## Optional:
            {{ optional("path", license.path) }}
            {{ optional("title", license.title) }}
        ),
    {% endcall %}
    ## Optional:
    {{ optional("homepage", properties.homepage) }}
    {% call(contributor) optional_list('contributors', properties.contributors) %}
        sp.ContributorProperties(
            ## Required:
            {{ optional("title", contributor.title) }}
            ## Optional:
            {{ optional("path", contributor.path) }}
            {{ optional("email", contributor.email) }}
            {{ optional("given_name", contributor.given_name) }}
            {{ optional("family_name", contributor.family_name) }}
            {{ optional("organization", contributor.organization) }}
            {{ optional("roles", contributor.roles, '[""]') }}
        ),
    {% endcall %}
    {{ optional("keywords", properties.keywords, '[""]') }}
    {{ optional("image", properties.image) }}
    {% call(source) optional_list('sources', properties.sources) %}
        sp.SourceProperties(
            ## Required:
            {{ optional("title", source.title) }}
            ## Optional:
            {{ optional("path", source.path) }}
            {{ optional("email", source.email) }}
            {{ optional("version", source.version) }}
        ),
    {% endcall %}
    ## Autogenerated:
    {{ optional("id", properties.id) }}
    {{ optional("version", properties.version) }}
    {{ optional("created", properties.created) }}
)

sp.use_package_properties_template(package_properties)
